h1 {
   color:#903b30;
}

form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #f0bc95;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

button {
    color: #903b30;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;

    width: 6em;
    height: 3em;
    margin-top: 10px;

    margin-left: auto;
    margin-right: auto;
    border: 3px solid #903b30;
    border-radius: 20px;
    transition: all .35s;
}

button:hover {
    background-color:#903b30;
    color: #ffe0dd
}

